* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1000px;
  margin: 0 auto;
}

/* header */

.header-color {
  display: block;
  padding-bottom: 150px;
}

.header-color,
.main-header,
.presentation {
  background-color: #1f2937;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  margin-bottom: 100px;
}
ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.second-text-link,
a:link {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

/* presentation section 01 */

.presentation {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 60px;
}

.left-presentation-info {
  width: 500px;
  align-items: flex-start;
  height: 100%;
}

.main-text-presentation {
  align-self: flex-start;
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.second-text-link {
  margin-bottom: 10px;
}
.placeholder-image {
  padding: 100px 200px;
  background-color: #eee;
  text-align: center;
}
.button-sign-up {
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #3882f6;
  border: none;
  padding: 10px 50px;
  border-radius: 10px;
}

/* random-information */

.info-color {
  display: block;
  padding-bottom: 100px;
}

.random-information {
  display: flex;
  background-color: white;
  justify-content: center;
}

.information-header {
  text-align: center;
  margin: 50px 0;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.container-random-info {
  display: flex;
  gap: 65px;
}

.box-random-info {
  width: 150px;
  height: 150px;
  /* background-color: #1f2937; */
  border: 8px solid #3882f6;
  border-radius: 20px;
  margin-bottom: 8px;
}

p {
  color: #2a3442;
}

.box {
  width: 150px;
  text-align: center;
}

/* quote section 03 */
.quote-color {
  background-color: #e5e7eb;
}

.container-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.centralized-quote {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 650px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.by {
  display: flex;
  justify-self: flex-end;
  font-weight: bold;
  font-size: 20px;
}
/* .sign up section 04 */

.sign-up-section {
  padding: 100px 0;
}

.centralized-sing-up-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  background-color: #3882f6;
  padding: 50px 175px;
  border-radius: 20px;
}
.main-text {
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.sub-text {
  font-size: 16px;
  color: #f9faf8;
}

.button-sign-up-section {
  border: 2px solid white;
  color: white;
  font-size: 18px;
  padding: 5px 20px;
  align-self: flex-end;
}
