* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1000px;
  margin: 0 auto;
}

/* header */

.header-color {
  height: auto;
  padding-bottom: 150px;
}

.header-color,
header,
.presentation {
  background-color: #1f2937;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  margin-bottom: 100px;
}
ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.second-text-link,
a:link {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

/* presentation section 01 */

.presentation {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 60px;
}

.left-presentation-info {
  width: 500px;
  align-items: flex-start;
  height: 100%;
}

.main-text-presentation {
  align-self: flex-start;
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.second-text-link {
  margin-bottom: 10px;
}

.right-presentation-image {
}

.placeholder-image {
  padding: 100px 200px;
  background-color: #eee;
  text-align: center;
}
.button-Sign-up {
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #3882f6;
  border: none;
  padding: 10px 50px;
  border-radius: 10px;
}
